.black-box {
  background-color: black;
  color: white;
  padding: 20px;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.white-box {
  background-color: white;
  color: black;
  padding: 20px;
  width: 200px;
  height: 100px;
}